/* global settings */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* gallery */

#gallery {
    overflow: hidden;
    text-align: center;
    width: 100%;
    margin: 120px 0;
}

#gallery h1 {
    width: 90%;
    margin: 5px auto;
}

#gallery h2 {
    width: 90%;
    margin: 15px auto;
    font-weight: 400;
    font-size: 17px;
}

#gallery .images-grid {
    width: 100%;
    margin: 50px auto;
    display: grid;
    gap: 10px;
    /* responsive setting */
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

#gallery .images-grid .image {
    border: 1px solid #eeeeee;
    overflow: hidden;
}

#gallery .images-grid .image img {
    display: block;
    height: 100%;
    width: 100%;
    transition: .8s all cubic-bezier(0.25, 0.05, 0.9, 1.05);
}

#gallery .images-grid .image:hover > img {
    transform: rotate(4deg) scale(114%);
}

#gallery .images-grid .image:nth-of-type(7) {
    grid-row: span 2;
}